<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário — Dados do Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>
<body>
<!-- Logo VendaMais -->
<img src="/static/img/logo__vm.png" alt="VM Logo" class="logo-vendamais">

    <h1>Formulário — Dados do Cliente</h1>

    <form action="/forms" method="post">

        <h2><span>Dados de Identificação (obrigatórios)</span></h2>

        <div class="field-group">
            <label for="nome">Nome Completo</label>
            <input type="text" id="nome" name="nome" placeholder="Seu nome completo" required>
        </div>

        <div class="field-group">
            <label for="cargo">Cargo</label>
            <input type="text" id="cargo" name="cargo" placeholder="Seu cargo">
        </div>

        <div class="field-group">
            <label for="empresa">Empresa</label>
            <input type="text" id="empresa" name="empresa" placeholder="Nome da empresa">
        </div>

        <div class="field-group">
            <label for="email">Email Corporativo</label>
            <input type="email" id="email" name="email" placeholder="seu@email.com.br" required>
        </div>

        <div class="field-group">
            <label for="telefone">Telefone ou WhatsApp</label>
            <input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000" required>
        </div>

        <div class="field-group">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" placeholder="Sua cidade">
        </div>

        <div class="field-group">
            <label for="segmento_empresa">Segmento da Empresa</label>
            <input type="text" id="segmento_empresa" name="segmento_empresa" placeholder="Ex: Tecnologia, Varejo, Saúde…">
        </div>

        <div class="field-group">
            <p>Número de Colaboradores</p>
            <div class="radio-group">
                <label class="radio-option">
                    <input type="radio" name="num_colaboradores" value="ate_10" required>
                    <span>Até 50</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="num_colaboradores" value="11_a_50">
                    <span>50 a 150</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="num_colaboradores" value="51_a_100">
                    <span>150 a 500</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="num_colaboradores" value="mais_100">
                    <span>Acima de 500</span>
                </label>
            </div>
        </div>

        <div class="field-group">
            <p>Faturamento anual aproximado</p>
            <div class="radio-group">
                <label class="radio-option">
                    <input type="radio" name="faturamento" value="abaixo_60mi" required>
                    <span>Abaixo de R$ 60 Mi</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="faturamento" value="60mi_a_100mi">
                    <span>R$ 60Mi a 100Mi</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="faturamento" value="100mi_a_300mi">
                    <span>•	R$ 100Mi a 300Mi </span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="faturamento" value="300mi_a_1bi">
                    <span>•	R$ 300Mi a 1Bi </span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="faturamento" value="acima_1bi">
                    <span>Acima de R$ 1Bi</span>
                </label>
            </div>
        </div>

        {% for pergunta in perguntas %}
        <div class="pergunta">
            <label><strong>{{ pergunta.id }}. {{ pergunta.pergunta }}</strong></label>
            
            {% if pergunta.tipo == 'multipla_escolha' %}
                <div class="radio-group">
                {% for resposta in pergunta.respostas %}
                <label class="radio-option">
                    <input type="checkbox" 
                        name="pergunta_{{ pergunta.id }}" 
                        value="{{ resposta }}">
                    <span>{{ resposta }}</span>
                </label>
                {% endfor %}
                </div>
                
            {% elif pergunta.tipo == 'texto_livre' %}
                <input type="text" 
                    name="pergunta_{{ pergunta.id }}" 
                    placeholder="Digite sua resposta..."
                    style="width: 100%; padding: 8px; margin: 10px 0;">
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn-enviar">Enviar dados</button>

    </form>

</body>
</html>