<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questões</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questoes.css') }}">
</head>
<body>
<!-- Logo VendaMais -->
<img src="{{ url_for('static', filename='img/logo__vm.png') }}" alt="VendaMais" class="logo-vendamais">
    <form method="POST" action="/questoes">
        <h1>Ola, {{ cliente.nome }}!</h1>
        {% for pergunta in perguntas %}
        <div class="pergunta">
            <label><strong>{{ pergunta.id }}. {{ pergunta.pergunta }}</strong></label>
            
            <!-- Se for múltipla escolha -->
            {% if pergunta.tipo == 'multipla_escolha' %}
                {% for resposta in pergunta.respostas %}
                <div class="opcao">
                    <input type="radio" 
                        name="pergunta_{{ pergunta.id }}" 
                        value="{{ resposta }}">
                    <label>{{ resposta }}</label>
                </div>
                {% endfor %}
            
            <!-- Se for texto livre -->
            {% elif pergunta.tipo == 'texto_livre' %}
                <input type="text" 
                    name="pergunta_{{ pergunta.id }}" 
                    placeholder="Digite sua resposta..."
                    style="width: 100%; padding: 8px; margin: 10px 0;">
            {% endif %}
        </div>
        {% endfor %}
        
        <button type="submit">Analisar</button>
    </form>
</body>
</html>